
@{
    ViewData["Title"] = "TimeSheet";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid my-0">
    <div class="card shadow">
      <div class="row">
          <div class="col-lg=10 col-md-10 col-sm-10">
                <div class="card-header text-center  text-black">
                    <h3>RAPS Consulting Inc.</h3>
                    <h5>TIME SHEET</h5>
                </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2">
              ss
          </div>
      </div>
        <div class="card-body">
            <form>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <label for="employeeName" class="form-label">Name of Employee:</label>
                        <input type="text" class="form-control" id="employeeName" placeholder="Enter employee name">
                    </div>
                    <div class="col-md-6">
                        <label for="clientName" class="form-label">Name of Client:</label>
                        <input type="text" class="form-control" id="clientName" placeholder="Enter client name">
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="employeePosition" class="form-label">Position of Employee:</label>
                        <input type="text" class="form-control" id="employeePosition" placeholder="Enter position">
                    </div>
                    <div class="col-md-6">
                        <label for="projectName" class="form-label">Name of Project:</label>
                        <input type="text" class="form-control" id="projectName" placeholder="Enter project name">
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead class="table-light">
                        <tr>
                            <th>Date</th>
                            <th>Day</th>
                            <th># of Hours Worked</th>
                            <th>Description of Assignment Completed</th>
                            <th>Remarks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Example Rows (can add as needed) -->
                        <tr>
                            <td>1-Dec-24</td>
                            <td>Sunday</td>
                            <td><input type="number" class="form-control" min="0" step="1"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>2-Dec-24</td>
                            <td>Monday</td>
                            <td><input type="number" class="form-control" min="0" step="1"></td>
                            <td><input type="text" class="form-control"></td>
                            <td><input type="text" class="form-control"></td>
                        </tr>
                        <!-- Repeat rows for all dates -->
                    </tbody>
                </table>

                <div class="row mb-4">
                    <div class="col-md-6">
                        <label for="totalHours" class="form-label">TOTAL Hours Worked:</label>
                        <input type="text" class="form-control" id="totalHours" readonly value="0">
                    </div>
                </div>

                <div class="mb-3">
                    <p class="text-muted">
                        <strong>NOTE:</strong><br>
                        * All timesheets for the previous month should be submitted by 10th of the current month.<br>
                        * If Employee/Consultant is on leave, then s/he needs to fill "0" in the Hours worked, and enter details of leave in the Remarks column.
                    </p>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="employeeSignature" class="form-label">Name of Employee:</label>
                        <input type="text" class="form-control" id="employeeSignature" placeholder="Enter employee name">
                    </div>
                    <div class="col-md-6">
                        <label for="clientManagerName" class="form-label">Name of Client Manager:</label>
                        <input type="text" class="form-control" id="clientManagerName" readonly value="Anurag Singh">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        <label for="submissionDate" class="form-label">Date of Submission:</label>
                        <input type="date" class="form-control" id="submissionDate">
                    </div>
                    <div class="col-md-6">
                        <label for="signatureDate" class="form-label">Date of Signature:</label>
                        <input type="date" class="form-control" id="signatureDate">
                    </div>
                </div>
            </form>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">Submit Time Sheet</button>
        </div>
    </div>
</div>